<?xml version="1.0" encoding="utf-8"?><HelpTOCNode Title="IMapper Methods" Url="html/Methods_T_NCDK_SMSD_Algorithms_VFLib_IMapper.htm"><HelpTOCNode Title="CountMaps Method " Url="html/Overload_NCDK_SMSD_Algorithms_VFLib_IMapper_CountMaps.htm" HasChildren="true" /><HelpTOCNode Title="GetFirstMap Method " Url="html/Overload_NCDK_SMSD_Algorithms_VFLib_IMapper_GetFirstMap.htm" HasChildren="true" /><HelpTOCNode Title="GetMaps Method " Url="html/Overload_NCDK_SMSD_Algorithms_VFLib_IMapper_GetMaps.htm" HasChildren="true" /><HelpTOCNode Title="HasMap Method " Url="html/Overload_NCDK_SMSD_Algorithms_VFLib_IMapper_HasMap.htm" HasChildren="true" /></HelpTOCNode>