<?xml version="1.0" encoding="utf-8"?><HelpTOCNode Title="VFMCSMapper Methods" Url="html/Methods_T_NCDK_SMSD_Algorithms_VFLib_Map_VFMCSMapper.htm"><HelpTOCNode Title="CountMaps Method " Url="html/Overload_NCDK_SMSD_Algorithms_VFLib_Map_VFMCSMapper_CountMaps.htm" HasChildren="true" /><HelpTOCNode Title="GetFirstMap Method " Url="html/Overload_NCDK_SMSD_Algorithms_VFLib_Map_VFMCSMapper_GetFirstMap.htm" HasChildren="true" /><HelpTOCNode Title="GetMaps Method " Url="html/Overload_NCDK_SMSD_Algorithms_VFLib_Map_VFMCSMapper_GetMaps.htm" HasChildren="true" /><HelpTOCNode Title="GetTimeOut Method " Url="html/M_NCDK_SMSD_Algorithms_VFLib_Map_VFMCSMapper_GetTimeOut.htm" /><HelpTOCNode Title="HasMap Method " Url="html/Overload_NCDK_SMSD_Algorithms_VFLib_Map_VFMCSMapper_HasMap.htm" HasChildren="true" /><HelpTOCNode Title="IsTimeOut Method " Url="html/M_NCDK_SMSD_Algorithms_VFLib_Map_VFMCSMapper_IsTimeOut.htm" /></HelpTOCNode>