<?xml version="1.0" encoding="utf-8"?><HelpTOCNode Title="AtomTypeMapper Methods" Url="html/Methods_T_NCDK_AtomTypes_Mapper_AtomTypeMapper.htm"><HelpTOCNode Title="GetInstance Method " Url="html/Overload_NCDK_AtomTypes_Mapper_AtomTypeMapper_GetInstance.htm" HasChildren="true" /><HelpTOCNode Title="MapAtomType Method " Url="html/M_NCDK_AtomTypes_Mapper_AtomTypeMapper_MapAtomType.htm" /></HelpTOCNode>