<?xml version="1.0" encoding="utf-8"?><HelpTOCNode Title="VFMCSMapper Class" Url="html/T_NCDK_SMSD_Algorithms_VFLib_Map_VFMCSMapper.htm"><HelpTOCNode Title="VFMCSMapper Constructor " Url="html/Overload_NCDK_SMSD_Algorithms_VFLib_Map_VFMCSMapper__ctor.htm" HasChildren="true" /><HelpTOCNode Title="VFMCSMapper Properties" Url="html/Properties_T_NCDK_SMSD_Algorithms_VFLib_Map_VFMCSMapper.htm" HasChildren="true" /><HelpTOCNode Title="VFMCSMapper Methods" Url="html/Methods_T_NCDK_SMSD_Algorithms_VFLib_Map_VFMCSMapper.htm" HasChildren="true" /></HelpTOCNode>